/* css file for styles */
body {
    font-family: Arial, sans-serif;
    margin: 4rem;
    padding: 0;
    background-color: #f4f4f4;
}

/* banner container styles start  */

.banner-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background: linear-gradient(to right#070211, #070211 100%, to left #070211, #070211 100%);
    color: rgb(235, 226, 226);
}

.banner-content-description {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.banner-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.banner-btn:hover {
    background-color: #0056b3;
}

.banner-content a{
    text-decoration: none;
}

.banner-content-title {
    text-align: center;
    margin-top: 6rem;
}

/* holyday deals container styles start here  */
.holyday-deals-content {
    text-align: center;
}

.holyday-deals-title {
    font-size: 4rem;
    color: #FF5733;
    margin-bottom: 10px;
}

.holyday-deals-description{
    color: #ff0000;
    font-size: 29;
    font-weight: 397;
}

.holyday-deals-subtitle{
    font-size: 2rem;
    color: #333;
}

#shop-now:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Midnight party container styles start here   */
.midnight-party-container{
    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 100%;
    margin-top: 4rem;
}

.midnight-party-container{
    display: flex;
    gap: 2rem;
}

.midnight-party-content a{
    text-decoration: none;
}

.midnight-party-btn{
    display: block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.midnight-party-btn:hover {
    background-color: #0056b3;
}

.midnight-party-content{
    text-align: left;
    padding: 2rem;
    color: #fff;
}

.midnight-party-image img{
    width: 320px;
    height: 350px;  
    padding: 2rem; 
}

.midnight-party-image img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Party time at midnight styles and here  */

.party-time-container{
    background:linear-gradient( to top, #eed7d7, #eed7d0, #eec9c2, #eebbb4, #eeada7 )
  ;
  border: none;
  border-radius: 0.5rem;
}

.party-time-container:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.party-time-text{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: #333;
}

.party-time-text a{
    text-decoration: none;
}

.party-time-btn{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.party-time-btn:hover {
    background-color: #0056b3;
}

/* coming soon container styles start here */

.coming-soon-container{
    background: linear-gradient(to top, #d7e8ee, #d0e6ee, #c2e3ee, #b4e1ee, #a7dfee);
    border: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    gap: 2rem;
    margin-top: 4rem;
    padding: 2rem;
}

.coming-soon-content{
    text-align: left;
    width: 100%;
}

.coming-soon-content-title{
    color: #070211;
    font-size: 60;
    font-weight: 328;
}

.coming-soon-content a{
    text-decoration: none;

}

.coming-soon-subtitle{
    font-size: 29;
    font-weight: 207;
    color: #ff0000;
}


.coming-soon-btn{
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.coming-soon-btn:hover {
    background-color: #0056b3;
}

.coming-soon-image img{
    width: 240px;
    height: auto;  
    padding: 2rem;
    border: 1rem solid #ff0000; 
    border-radius: 50%;
}

.coming-soon-image img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.coming-soon-sub-content-title{
    color: #ff0000;
    font-size: 58;
    font-weight: 126;
}

.coming-soon-sub-content img{
    width: auto;
    height: auto;  
}

.coming-soon-sub-content img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Holydays sales container styles start here */

.holydays-sales-container{
    background: linear-gradient(to top, #eeddc1, #eed7a3, #eed285, #eecf67, #eecb49);
    border: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    gap: 2rem;
    margin-top: 4rem;
    padding: 2rem;
}

.holydays-text{
    color: #ff0000;
}

.holydays-sales-btn{
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.holydays-sales-btn:hover {
    background-color: #0056b3;
} 

/* holydays sales banner container styles end here  */

.holydays-sales-banner-container{
    background-image: url('/resources/Rectangle 2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    gap: 11.8rem;
    flex-wrap: wrap;
    margin: 1rem;
    height: 600px;
    width: 850px;
    position: absolute;
}

.holydays-sales-banner-image img{
    width: auto;
    height: 300px;
    position: relative;
    bottom: 2rem;
    left: 2rem;
    top: 14rem;
}

.holydays-sales-banner-image{
    position: relative;
    bottom: 2rem;
    left: 2rem;
    top: 2rem;
}

.holydays-sales-banner img{
    width: 300px;
    height: auto;
    position: relative;
    bottom: 2rem;    
    top: 9.4rem;
}

.holydays-sales-discount-image{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 4rem; 
    top: 16rem;
    left: 34rem;
}
